$color-blue-700: #34547a;
$color-surface-primary: #eeeff1;
$color-surface-secondary: $color-blue-700;
$color-text-primary: #000000;
$color-text-secondary: #727272;
$color-text-tertiary: #ffffff;
$color-text-accent: $color-blue-700;

$bp-xl: 1280px;
$bp-md: 768px;
$bp-sm: 760px;
$bp-xs: 375px;

$font-main: "Roboto", sans-serif;
