@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-blue-700: #34547a;
  --color-surface-primary: #eeeff1;
  --color-surface-secondary: var(--color-blue-700);
  --color-text-primary: #000000;
  --color-text-secondary: #727272;
  --color-text-tertiary: #ffffff;
  --color-text-accent: var(--color-blue-700);
}

html,
body {
  margin: 0;
  font-family: "Roboto";
}

.main-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--color-surface-primary);
}

.nav {
  display: flex;
  justify-content: flex-start;
  color: var(--color-text-primary);
  text-transform: uppercase;
  padding-block: 5rem;
  gap: 50px;
}

.nav__item {
  cursor: pointer;
  font-size: 1rem;
}

.nav__item:hover {
  color: var(--color-text-secondary);
}

.nav__item-active {
  color: var(--color-text-accent);
  cursor: default;
}

.promo {
  background-color: var(--color-surface-primary);
}

.promo-section {
  /* height: 364px;  */ /* прибрав фіксовану висоту, бо вона трішки ломає логіку */
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}

.promo-section__title {
  font-size: 3rem;
  font-weight: 500;
}

.promo-section__paragraph {
  width: 540px;
  color: var(--color-text-secondary);
  line-height: 1.64;
}

.promo-section__button {
  font-size: 1rem;
  font-weight: 400;
  width: 225px;
  height: 65px;
  background-color: var(--color-blue-700);
  color: var(--color-text-tertiary);
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about {
  background-color: rgb(255, 255, 255);
  display: flex;
}

.about__title {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}

.about__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.64;
  color: #727272;
}

.about__container {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-block: 100px;
  text-align: center;
  gap: 50px;
}

.video {
  background-color: #eeeff1;
}

.video__container {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.64;
  gap: 50px;
  padding-block: 100px;
}

.video__title {
  font-size: 32px;
  font-weight: 500;
}

.video__paragraph {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.video__foto {
  position: relative;
}

.video__foto::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  pointer-events: none;
}

.background-img {
  max-height: 600px;
  display: block;
  fill: #000000;
}

.top-img {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.stats {
  background-color: #34547a;
  text-align: center;
}

.content_group {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.stats__item {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  padding: 100px 0;
}

.stats__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  color: #ffffff;
  text-align: left;
  float: right;
}

.stats__number {
  font-size: 21px;
}

.stats__label {
  font-size: 16px;
}

.footer {
  background-color: #34547a;
  color: #ffffff;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 50px;
}

.footer__name {
  font-size: 21px;
  font-weight: 500;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.64;
}

@media screen and (max-width: 1280px) {
  .content {
    padding-inline: 24px;
  }

  .footer__content {
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  .content {
    padding: 75px 16px;
  }

  .about__container {
    gap: 16px;
  }
}

@media screen and (max-width: 375px) {
  .content {
    padding-inline: 12px;
  }
}
