@use "../abstracts/index" as *;

.about {
  background-color: #fff;
  display: flex;

  &__container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 100px;
    text-align: center;
    gap: 50px;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
  }
  &__paragraph {
    font-size: 16px;
    line-height: 1.64;
    color: $color-text-secondary;
  }
}
