@use "../abstracts/index" as *;

.stats {
  background-color: $color-blue-700;
  text-align: center;

  .content_group {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    gap: 20px;
    padding: 100px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    color: $color-text-tertiary;
    text-align: left;
  }

  &__number {
    font-size: 21px;
  }
  &__label {
    font-size: 16px;
  }

  @include respond(xs) {
    &__item {
      width: 100%;
      justify-content: center;
    }
    &__content {
      text-align: center;
    }
  }
}
