.menu {
  background-color: #548f85;
  padding: 10px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

body {
  font-family: "Franklin Gothic Medium", sans-serif;
  padding: 15px;
}

.block {
  background-color: #dbeafe;
  padding: 15px;
  margin: 10px 0;
}

.inline {
  color: rgb(58, 143, 65);
  font-weight: bold;
}

.flex-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.box {
  width: 150px;
  padding: 30px;
  background-color: #3ff37e;
  box-sizing: border-box;
}

.float-box {
  width: 150px;
  height: 100px;
  background: rgb(178, 180, 59);
  text-align: center;
  float: left;
  margin: 10px;
}

.clear-box {
  clear: both;
  background: rgb(51, 171, 211);
  padding: 10px;
}

.container {
  width: 150px;
  height: 70px;
  border: 2px solid black;
  overflow: auto;
}

.long-page {
  height: 2000px;
}

.fixed {
  position: fixed;
  top: 80px;
  right: 10px;
  background: red;
  color: white;
  padding: 10px;
}

.sticky {
  position: sticky;
  top: 0;
  background: green;
  color: white;
  padding: 10px;
  margin-top: 100px;
}

.sticky-box {
  position: sticky;
  top: 0;
  background: #f57914;
  color: white;
  padding: 10px;
  margin-top: 40px;
}

.relative-box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #5488f1;
  padding: 20px;
  margin-top: 40px;
}

.absolute-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #cf8de4;
  color: white;
  padding: 10px;
}

.fixed-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ef4444;
  color: white;
  padding: 10px;
}
