@use "../abstracts/index" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-main;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}
